@import "header.scss";
@import "body.scss";
@import "footer.scss";


.bild1{
 width: 100%;
}
.section-1{
    display: flex;
}
.relative{
    position: relative;
}
.hey{
    position: absolute;
    font-size: xx-large;
    left: 45rem;  
    bottom: 3.5rem; 
    
}
.header-text{
  text-align: center;
  position: relative;
  top: 5rem;
  
}
h1, h3{
   font-weight: bold;
}
main, .footer3{
    margin: 5rem;
    width: 40vw;
}

span{
display: flex;
justify-content: flex-end;
font-size: x-large;
width: 75vw;
color: grey;
line-height: 105%;

}
.bild2{
    height: auto;
}

.section-p {
    margin-top: 5rem;
    justify-content: center;
    margin-left: 10rem;
}
.section2{
    display: flex;
}
h3.text{
    color: black;
}
.text{
    display: flex;
   
    width: 30vw;
    line-height: 180%;
}

.p-gray{
    color: grey;
}
footer{
    background-color: black;
    color: white;
}
.footer3{
    padding: 1rem;
}
