body {
  font-family: sans-serif;
  line-height: 155%;
  width: 100%;
 }

.bild1 {
  width: 100%; }

.header-text{
  position: relative; }

.hey {
  position: absolute;
  font-size: xx-large;
  left: 55%;
  bottom: 3.5rem; }

.voodoo {
  text-align: center;
  position: relative;
  top: 5rem;
  font-family: 'Palanquin Dark';
  font-size: xx-large;
}

h1, h3 {
  font-weight: bold;
  color: black;
  font-family: 'Palanquin Dark';
  font-stretch: ultra-expanded;
 }
 h1{
  font-size: xx-large;
 }

.front-text{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

span {
  text-align: right;
  font-size: x-large;
  color: grey;
  line-height: 105%; 
  }

main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* margin-top: 8rem; tas bort eftersom det ligger margin på section */
}
.bild2, .bild3 {
  height: auto; }

.black{
  display: block;
  background-color: black;
  width: 100%;
  height: 50vh;

}
.text1{
  text-align: left;
  width: 60%;
  /*width: 60%;*/
}
 /* tagit bort width och istället lagt margin på hela sectionen, lägger ev tillbaka width vid @media */
.section1, .section2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*width: 70%;*/
  line-height: 180%; 
  margin: 10%;
}
 /*Ändrat width till margin för mer responsivt */

.text2{
  text-align: right;
}
.section3{
    display: flex;
    align-items: flex-start;
    width: 75%;
    text-align: left;
}
 /*section 3 har inte någon bild */
.p-gray {
  color: grey; 
}
.footer1{
  background-image: url(/bilder/Q1_newsletter-02.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
}
.text4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  line-height: 125%;
  width: 70%;
  text-align: center;}
   /* margin-top: 12%;
  width: 60vh;
  margin-left: 30%;
   "Gammal kod" */
  

/* sista svarta footer delen*/ 

footer {
  background-color: black;
  color: white; 
  height: auto;
}
  
.footer3 {
  padding: 1rem;
  display: flex;
  justify-content: center;
 }

#footer-text {
    color: white;
    font-size: large;
}
.left{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5rem;
  width: 50%;
}
.right{
  display: flex;
  flex-direction: column;
  text-align: right;
  font-style: italic;
  margin: 5rem;
  margin-top: 9.5rem;
}
